root = true

[*]
charset = utf-8
indent_style = tab
tab_width = 4
trim_trailing_whitespace = true

ij_any_keep_indents_on_empty_lines = false

[*.java]
ij_java_names_count_to_use_import_on_demand = 999
ij_java_class_count_to_use_import_on_demand = 999
